<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>

<body>
  <article>


<div class="properties-block">
    <% @properties.each do |property| %>
      <div class="properties_single_box">
      <ul>
        <li class="property_name"><%= property.name %></li>
        <li><%= property.room_type %></li>
        <!-- <td class="datatables"><%#put this in show= property.description %></td> -->
        <li><%= property.country %></li>
        <li><%= property.price %></li>
        <li><%= image_tag(property.profile_pic.url,:size => "200x220")%></li>
        <li><%= link_to 'Show', property %></li>
        <li><%= link_to 'New request', new_property_rental_request_path(property)%></li>
        <% if user_signed_in? && property.user_id == current_user.id %>
        <li><%= link_to 'View all requests', property_rental_requests_path(property) %></li>
        <li><%= link_to 'Edit', edit_property_path(property) %></li>
        <li><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        <br>
      </ul>
    </div>
    <% end %>

    <%= render 'shared/googlemap' %>

  </article>



<%= link_to 'New Property', new_property_path %>
