<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @property.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.street_number + ' ' + @property.street_name + ' ' + @property.city + ' ' + @property.zip_code %>
</p>


<%= render 'shared/googlemap' %>


<% if user_signed_in? && @property.user_id == current_user.id %>
<%= link_to 'Edit', edit_property_path(@property) %> |
<% end %>
<%= link_to 'Back', properties_path %>
